:root {
    font-size: 62.5%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: none;
    --color_1:#7286D3;
    --color_2:#8EA7E9;
    --color_3:#E5E0FF;
    --color_4:#FFF2F2;
    --color_5: #fff;
    --color_6: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    background: var(--color_5);
    color: var(--color_1);
}

body {
    display: flex;
    /* font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal; */

    /* font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal; */

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color_1);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #000;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

header {
    position: fixed;

    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100dvh;
    width: 10vw;
    padding-inline: 1rem;
    border-right: 1px solid var(--color_1);
    background: var(--color_5);

    transition: height 0.3s;
}

header .link-con {
    display: flex;
    align-items: center;
    width: 12rem;
    height: 4rem;
}

header .link-con a {
    text-align: center;
    width: 12rem;
    font-size: 1.5rem;
    color: var(--color_1);
    border-bottom: 1px solid var(--color_1);

    transition: all 0.3s;
}

header .link-con a:hover {
    border-bottom: 3px solid var(--color_1);
}

.top-box {
    position: absolute;
    top: 0;
    height: 6.5rem;
    width: 35vw;
}

.bottom-box {
    position: absolute;
    bottom: 0;
    height: 6.5rem;
    width: 35vw;

    display: flex;
    justify-content: start;
    align-items: center;
    padding-inline: 2.5vw;
    gap: 1rem;
}

.bottom-box i {
    font-size: 2rem;
}

.bottom-box i.active {
    color: var(--color_5);
}

.bg-blue {
    background: var(--color_1);
}

/* LANDING PAGE */

.landing {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35vw;
    height: 100dvh;
    padding-top: 6.5rem;
    border-right: 1px solid var(--color_1);
    background: var(--color_5);

    transition: height 0.3s;
}

.intro-box {
    width: 35vw;
    padding: 2vw;
    text-align: start;
}

.paper-name {
    font-size: 5rem;
    font-weight: 600;
}

.chef {
    font-size: 3rem;
    font-weight: 350;
}

.passion {
    font-size: 1.5rem;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 6.5rem;
}

.pastry {
    position: relative;
    display: inline-block;
    padding: 2.5vw;
}

.pastry i {
    position: relative;
    font-size: 2rem;
    margin-top: 2rem;

    transition: all 1s;
}

.pastry i:hover {
    transform: rotate(360deg);
}

.contacts {
    display: block;
    padding: 2.5vw;
}

.contacts h3 {
    padding: 0;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
}

.sns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.sns a {
    display: flex;
    align-items: end;
    color: var(--color_1);
    font-size: 4rem;

    transition: all 0.3s;
}

.contacts a:hover {
    color: var(--color_6);
}

/* other */

.content {
    width: 55vw;
    margin-left: 35vw;
    padding-block: 6.5rem;
    background: var(--color_4);
    border-right: 1px solid var(--color_1);
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding-inline: 3rem;
    padding-block: 6rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 10vw;

    border-bottom: 3px solid var(--color_3);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15vw;
    height: 15vw;
    padding: 1.5rem;
}

.c-left {
    border-left: 3px solid var(--color_1);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.c-right {
    border-right: 3px solid var(--color_1);
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.img-box {
    display: flex;
    width: 15vw;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    transition: all 0.3s;
}

.img-box:hover {
    width: 30vw;
}

.img-box-active {
    width: 30vw;
}

.img-box img.fit-height {
    height: 100%;
}

.img-box img.fit-width {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 10vw;
}

.info p {
    text-align: justify;
    padding-block: 2rem;
    border-top: 3px solid var(--color_1);
    border-bottom: 3px solid var(--color_1);
    
}

.paper-con {
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 2/1;
    height: auto;
    margin: 2rem;
    overflow: hidden;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    transition: all 0.3s;
}

.paper-con:hover {
    aspect-ratio: 1/1;
}

.paper-con-active {
    aspect-ratio: 1/1;
}

.paper-con img {
    width: 100%;
}


@media (min-width: 2560px) {
    :root {
        font-size: 100%;
    }
}

@media (max-width: 1440px) {
    :root {
        font-size: 55%;
    }
}

@media (max-width: 1024px) {
    :root {
        font-size: 42.5%;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 32.5%;
    }
}

@media (max-width: 540px) {
    :root {
        font-size: 32.5%;
    }

    body {
        display: block;
    }

    header {
        left: auto;
        right: 0;
        width: 20vw;
        z-index: 1;
        background: var(--color_4);
        height: 100dvh;
    }

    header .link-con a:hover {
        border-bottom: 1.5px solid var(--color_1);
    }

    .top-box {
        position: fixed;
        top: -1rem;
        height: 7.5rem;
        width: 100vw;
        z-index: 2;
    }
    
    .bottom-box {
        position: fixed;
        width: 100vw;
        z-index: 2;
    }

    .landing {
        position: relative;
        display: block;
        width: 80vw;
        height: auto;
    }

    .intro-box {
        width: 80vw;
        padding-top: 3rem;
        padding-inline: 10vw;
    }
    
    .footer-box {
        position: fixed;

        bottom: 0;
        width: 80vw;
        padding-bottom: 6.5rem;
    } 

    .content {
        width: 80vw;
        margin-left: 0;
        padding-left: 0;
        padding-block: 0;
        background: var(--color_5);
        border-right: 1px solid var(--color_1);

        padding-bottom: 17rem;
    }
    
    .box {
        border-bottom: 1.5px solid var(--color_3);
    }

    .info-box {
        width: 30vw;
        height: 30vw;
    }
    
    .img-box {
        width: 30vw;
    }
    
    .img-box:hover {
        width: 60vw;
    }
    
    .img-box-active {
        width: 60vw;
    }

    .c-left {
        border-left: 1.5px solid var(--color_1);
    }
    
    .c-right {
        border-right: 1.5px solid var(--color_1);
    }

    .info p {
        font-size: 2.1rem;
        border-top: 1.5px solid var(--color_1);
        border-bottom: 1.5px solid var(--color_1);
    }

    h2 {
        font-size: 3rem;
        text-align: center;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    h3 {
        font-size: 2rem;
    }
}

