:root {
    font-size: 62.5%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: none;
    --color_1: #7286D3;
    --color_2: #B9E5E8;
    --color_3: #DFF2EB;
    --color_4: #4A4947;
    --color_5: #000;
    --color_6: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page {
    position: absolute;

    width: auto;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    aspect-ratio: 16/9;

    background-size: 100%;
    background-image: url(pic/smooth-white-plaster-wall.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.newsreader-thin {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.newsreader-bold {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.bg {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(pic/pexels-tirachard-kumtanom-112571-450055.jpg);
    background-size: 100%;
    filter: contrast(120%) brightness(80%);

    z-index: 0;
}

.name {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    
    font-size: 6rem;
    color: var(--color_5);
    height: 10rem;
    width: 100%;
}

.name-alt {
    position: absolute;
    
    display: none;
    align-items: center;
    justify-content: center;

    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    
    font-size: 6rem;
    color: var(--color_5);
    height: 10rem;
    width: 100%;
}

.navigation-bar {
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    top: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10rem);
    border-top: 1px solid var(--color_5);
    border-bottom: 1px solid var(--color_5);

    font-size: 2rem;
    color: var(--color_5);
    height: 5rem;
}

.nav-bar-short {
    position: absolute;

    display: none;

    top: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10rem);
    border-top: 1px solid var(--color_5);
    border-bottom: 1px solid var(--color_5);

    font-size: 4rem;
    color: var(--color_5);
    height: 5rem;
    text-align: center;

    cursor: pointer;

    transition: all 0.3s;
}

.nav-bar-short.selected {
    width: 100%;
    color: var(--color_6);
    background: var(--color_4);
}

.navigation-bar .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color_5);

    transition: all 0.3s;
}

.navigation-bar .nav:hover {
    background: var(--color_4);
    color: var(--color_6);
}

.navigation-bar .active {
    background: var(--color_5);
    color: var(--color_6);
}


.big-slides {
    position: relative;

    left: 0;
    top: 0;
    margin: 5rem;
    margin-top: 15rem;
    width: calc(100% - 10rem);
    height: calc(100% - 15rem);
}

.slide {
    position: relative;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

div.image {
    position: absolute;
    cursor: pointer;

    display: flex;
    align-items: center;

    padding: 1rem;
    border-right: 1px solid var(--color_5);
    border-top: 1px solid var(--color_5);
    transition: all 0.5s;
    transition-timing-function: ease-out;
}

div.landscape {
    height: 50%;
    width: auto;
    aspect-ratio: calc(60% + 1rem)/calc(40% + 1rem);
}

div.portrait {
    height: 75%;
    width: auto;
    aspect-ratio: calc(40% + 1rem)/calc(60% + 1rem);
}

div.showing-pt {
    position: absolute;

    pointer-events: none;
    left: 50%;
    top: calc(50% - 7.5rem);
    
    padding: 1rem;
    height: 120%;

    border-top: 1px solid var(--color_6);
    border-left: 1px solid var(--color_6);
    border-bottom: none;
    border-right: none;

    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}

div.showing-ls {
    position: absolute;

    pointer-events: none;
    left: 50%;
    top: calc(50% - 7.5rem);
    
    padding: 1rem;
    height: 80%;

    border-top: 1px solid var(--color_6);
    border-left: 1px solid var(--color_6);
    border-bottom: none;
    border-right: none;

    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}

img {
    pointer-events: none;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

div.image h3.pic-name {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-size: 1.5rem;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    text-align: center;
    color: var(--color_6);
    background: rgba(0, 0, 0, 0.9);
}

.transparent-bg {
    position: fixed;

    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 75%;

    z-index: 1;
    transition: all 0.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.fade-in-short {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fade-in-long {
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* slide one */

.one {
    display: grid;
    grid-template-columns: 100%;
    pointer-events: none;
}

.video-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.video-container .indi-vid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border: 1px solid var(--color_5);
}

.indi-vid video {
    width: 100%;
}

/* slide two */

.saawaan1 {
    top: 6%;
    left: 0%;
}

.saawaan2 {
    top: 22%;
    left: 20%;
}

.ici1 {
    top: 12%;
    left: 74%;
}

.ici2 {
    top: 40%;
    left: 46%;
}

/* slide three */

.michelin {
    top: 7%;
    left: 0%;
}

.flb {
    top: 15%;
    left: 37.5%;
}

.magnum {
    top: 45%;
    left: 64%;
}

/* slide four */

.michelin-hny {
    top: 10%;
    left: 15%;
}

.arla {
    top: 40%;
    left: 55%;
}

/* slide five */

.may-garden {
    top: 10%;
    left: 63%;
}

.por {
    top: 45%;
    left: 0%;
}

.kiti-panit {
    top: 15%;
    left: 37.5%;
}

/* slide six */
.six .content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.six .image {
    position: relative !important;
    pointer-events: none;
}

.six p {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: justify;
    font-size: 2rem;
    max-width: 70%;
    min-height: 60%;
}

.six span {
    font-size: 3.5rem;
    font-weight: 500;
}

/* slide seven */

.seven .content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 2rem;
}

.seven .content a {
    color: var(--color_5);
    font-size: 4rem;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.seven .content h3 {
    font-size: 3rem;
}

.seven .content a p:hover {
    text-decoration: underline;
}

/* press */

.press a {
    font-size: 2rem;
    color: var(--color_5);
    text-align: end;
    padding: 2rem;
    border-bottom-left-radius: 2rem;

    transition: all 0.3s;
}

.press a:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.press a p {
    padding-top: 1rem;
}

.bkp {
    top: 7%;
    right: 0%;
}

.ptt {
    top: 29%;
    right: 0%;
}

.mcg {
    top: 51%;
    right: 0%;
}

.kse {
    top: 73%;
    right: 0%;
}

@media (min-aspect-ratio: 16/9) {
    .page {
        width: auto;
        height: 95%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .page {
        width: 95%;
        height: auto;
    }
}

@media (max-aspect-ratio: 1/1) {
    .name {
        display: none;
    }
    
    .name-alt {
        display: flex;
    }

    .page {
        width: auto;
        height: 95%;
        aspect-ratio: 9/16;
    }

    .navigation-bar {
        display: none !important;
        top: 15rem;
        display: grid;
        grid-template-columns: 1fr;
        height: calc(100% - 15rem);
        width: 100%;
        font-size: 4rem;
        background: var(--color_6);
        z-index: 2;

        border: none;
    }

    .show-menu {
        display: grid !important;
        animation-name: fade-in;
        animation-duration: 1s;
        animation-direction: forwards;
    }


    .nav-bar-short {
        display: block;
    }

    .navigation-bar .nav {
        width: 100%;
        padding: 5rem;
        border-bottom: 1px solid var(--color_5);
    }

    .navigation-bar .nav br {
        display: none;
    }

    .big-slides {
        margin-top: 15rem;
        height: calc(100% - 15rem);
    }

    .video-container {
        grid-template-columns: 1fr 1fr;
    }
    
    div.landscape {
        height: 30%;
    }
    
    div.portrait {
        height: 45%;
    }
    
    div.showing-pt {
        height: 90%;
    }
    
    div.showing-ls {
        height: 60%;
        transform-origin: center;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    }
    
    div.image h3.pic-name {
        font-size: 2.3rem;
    }

    /* slide two */

    .saawaan1 {
        top: 3%;
        left: 0%;
    }

    .saawaan2 {
        top: 5%;
        left: 47%;
    }

    .ici1 {
        top: 58%;
        left: 49%;
    }

    .ici2 {
        top: 50%;
        left: -6%;
    }

    /* slide three */

    .michelin {
        top: 3%;
        left: 0%;
    }

    .flb {
        top: 30.5%;
        left: 49%;
    }

    .magnum {
        top: 72%;
        left: -5%;
    }

    /* slide four */

    .michelin-hny {
        top: 7%;
        left: 10%;
    }

    .arla {
        top: 63%;
        left: 17%;
    }

    /* slide five */

    .may-garden {
        top: 3%;
        left: 14%;
    }

    .por {
        top: 73%;
        left: -5%;
    }

    .kiti-panit {
        top: 30%;
        left: 49%;
    }

    /* slide six */
    .six .content {
        justify-content: center;
        flex-direction: column;
    }

    .six div.portrait {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 35%;
        width: auto;
        overflow: hidden;
    }

    .six img {
        height: auto;
        width: 100%;
    }

    .six p {
        max-width: 100%;
        min-height: 0;
    }

    /* slide seven */

    .seven .content a {
        font-size: 5rem;
    }

    .seven .content h3 {
        font-size: 3rem;
    }
}

@media (max-aspect-ratio: 9/16) {
    .page {
        width: 95%;
        height: auto;
    }
}


/* font size */

@media (max-width: 1024px) {
    :root {
        font-size: 60%;
    }
}

@media (max-width: 1024px) {
    :root {
        font-size: 44.4%;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 33.3%;
    }
}

@media (max-width: 400px) {
    :root {
        font-size: 27%;
    }
}

@media (max-width: 344px) {
    :root {
        font-size: 23%;
    }
}